<h1>Would you like to build a Chord or Scale for <%= @root %>?</h1>

<form method="post" action="/collection">
  <button name="collection" value="chord">Chord</button>
  <button name="collection" value="scale">Scale</button>
</form>