<h1>Please choose 'Chord' or 'Scale' for <%= params[:root] %></h1>

<form method="post">
  <button id="collection" name="collection" value="chord" formaction="/collection">Chord</button>
  <button id="collection" name="collection" value="scale" formaction="/collection">Scale</button>
</form>